<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="definitionMapping" type="OvalDefinitionsGenerator.DefinitionsGeneratorConfiguration, OvalDefinitionsGenerator"/>
  </configSections>

  <definitionMapping>
    <definitions>
      <definition id="oval:br.com.modulo.fcore56:def:25196">
        <tracks>
          <track id="oval:br.com.modulo.centos5:def:34775"/>
          <track id="oval:br.com.modulo.debian3:def:9462"/>
          <track id="oval:br.com.modulo.fcore34:def:9111"/>
          <track id="oval:br.com.modulo.rh7:def:4583"/>
          <track id="oval:br.com.modulo.rhel3:def:10202"/>
          <track id="oval:br.com.modulo.rhel4:def:18951"/>
          <track id="oval:br.com.modulo.slack9:def:4170"/>
          <track id="oval:br.com.modulo.slack10:def:9285"/>
          <track id="oval:br.com.modulo.ubuntu:def:32723"/>
          <track id="oval:br.com.modulo.suse10:def:28168"/>
          <track id="oval:br.com.modulo.suse73:def:7297"/>
        </tracks>
      </definition>

      <definition id="oval:br.com.modulo.fcore56:def:25227">
        <tracks>
          <track id="oval:br.com.modulo.centos5:def:34765"/>
          <track id="oval:br.com.modulo.debian3:def:9457"/>
          <track id="oval:br.com.modulo.fcore34:def:9151"/>
          <track id="oval:br.com.modulo.rh7:def:4567"/>
          <track id="oval:br.com.modulo.rhel3:def:10191"/>
          <track id="oval:br.com.modulo.rhel4:def:18941"/>
          <track id="oval:br.com.modulo.slack9:def:1128"/>
          <track id="oval:br.com.modulo.slack10:def:9279"/>
          <track id="oval:br.com.modulo.ubuntu:def:32791"/>
          <track id="oval:br.com.modulo.suse10:def:28256"/>
          <track id="oval:br.com.modulo.suse73:def:7281"/>
        </tracks>
      </definition>
    </definitions>
  </definitionMapping>
</configuration>