<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="certificateReferences" type="Thinktecture.IdentityModel.Utility.CertificateReferenceSection, Thinktecture.IdentityModel" />
    <section name="UsersSection" type="Modulo.Collect.Service.UsersSection, modsicsrv" />
    <section name="ServiceConfigurationSection" type="Modulo.Collect.Service.ServiceConfigurationSection, modsicsrv" />
  </configSections>
  <certificateReferences>
    <add name="CollectServiceCertificate" findValue="B755F89A2EEB37B596F69BE1150CA91CC047C26E" x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My" />
  </certificateReferences>
  <UsersSection>
    <users>
      <add name="admin" hash="5B7A297A4F583FA23C5C71CE8104377B30C3DA57" />
    </users>
  </UsersSection>
  <ServiceConfigurationSection>
    <ravendb webUIEnabled="true" webUIPort="1029" />
    <schematronValidation ValidationEnabled="false" />
    <scheduler SchedulerIntervalEnabled="true" />
  </ServiceConfigurationSection>
  <!-- ================================= -->
  <!-- === SSL (HTTPS) Configuration === -->
  <!-- ================================= -->
  <!-- * In order to use HTTPS connection uncomment the entire session below ( <system.serviceModel> ) -->
  <!-- * You must comment the session that configures HTTP connection -->
  <!--<system.serviceModel>
    <services>
      <service name="Modulo.Collect.Service.CollectService" behaviorConfiguration="CollectorServerBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:8443/CollectService"/>
          </baseAddresses>
        </host>
        <endpoint address="" bindingConfiguration="CollectorServiceWsHttpBinding" binding="wsHttpBinding" contract="Modulo.Collect.Service.Contract.ICollectService"/>
        <endpoint name="mexHttpBinding" contract="IMetadataExchange" binding="mexHttpsBinding" address="https://localhost:8443/CollectService/mex"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CollectorServerBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpsGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="CollectorServiceWsHttpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None">
            </transport>
          </security>
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>-->
  <!-- ========================== -->
  <!-- === HTTP Configuration === -->
  <!-- ========================== -->
  <!-- * In order to use HTTP connection comment the entire session below ( <system.serviceModel> ) -->
  <!-- * You must uncomment the session that configures HTTPS connection -->
  <system.serviceModel>
    <services>
      <service name="Modulo.Collect.Service.CollectService" behaviorConfiguration="CollectorServerBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1000/CollectService" />
          </baseAddresses>
        </host>
        <endpoint bindingConfiguration="CollectorServiceWsHttpBinding" binding="wsHttpBinding" contract="Modulo.Collect.Service.Contract.ICollectService" />
        <endpoint name="mexHttpBinding" contract="IMetadataExchange" binding="mexHttpBinding" address="http://localhost:1000/CollectService/mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CollectorServerBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="CollectorServiceWsHttpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="Critical, Error">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="ServiceModelTraceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="System.ServiceModel.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>