<?xml version="1.0"?>
<configuration>
  <configSections>
		<section name="certificateReferences" type="Thinktecture.IdentityModel.Utility.CertificateReferenceSection, Thinktecture.IdentityModel" />
	</configSections>
  <connectionStrings>
    <!--<add name="RiskManagerDB" connectionString="Provider=SQLOLEDB.1;Password=!ngpr3v13w;User ID=rmuser;Initial Catalog=RM_7010_EN;Data Source=10.238.15.5;"/>
    <add name="CollectServerConsoleDB" connectionString="Data Source=10.238.15.5;User ID=rmuser;Initial Catalog=RM_7010_EN;Password=!ngpr3v13w;"/>-->
  </connectionStrings>
  <certificateReferences>
		<add name="CollectServiceCertificate"
		  findValue="B755F89A2EEB37B596F69BE1150CA91CC047C26E"
		  x509FindType="FindByThumbprint"
		  storeLocation="LocalMachine"
		  storeName="My" />
	</certificateReferences>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
